.screen {
    display: flex;
}

.backlogMenu {
    margin: 0 5%;
    width: 20%;
}

.backlogButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.backlogButtons button {
    font-size: 1.2vw;
    cursor: pointer;
}